### A CI workflow template that runs linting and python testing
### TODO: Modify as needed or as desired.

name: Test tap-calltrackingmetrics

on:
  push:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - tap_calltrackingmetrics/**
    - tests/**
    - poetry.lock
    - pyproject.toml
    - tox.ini
  pull_request:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - tap_calltrackingmetrics/**
    - tests/**
    - poetry.lock
    - pyproject.toml
    - tox.ini
  workflow_dispatch:

env:
  FORCE_COLOR: 1

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - run: pipx install tox
    - name: Run Tox
      run: |
        tox -e $(echo py${{ matrix.python-version }} | tr -d .)
